.components__app-card {
    position: relative;
    height: 100%;
    // background: rgba(104, 116, 136, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    .card__header {
        display: flex;
        align-items: center;

        .header__title {
            display: flex;
            align-items: center;

            .title__icon {
                font-size: 0;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .title__name {
                padding-left: 8px;
                padding-bottom: 2px;
                width: 200px;
                height: 24px;
                font-size: 16px;
                line-height: 16px;
                display: inline-flex;
                align-items: center;
                background: linear-gradient(90deg, rgba(0, 168, 255, 0.5) 0%, rgba(0, 168, 255, 0) 100%);
                white-space: nowrap;
            }
        }
    }

    .card__container {
        height: 0;
        flex-grow: 1;
    }

    .header__left {
        position: relative;
        flex-grow: 1;
        width: 0;

        .left__model {
            margin: auto 0;
            position: absolute;
            left: 236px;
            top: 0;
            bottom: 0;
        }
    }
}

.components__app-card.abs {
    .card__header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}
