ul,
dl,
li,
dd,
dt {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input[type='number'] {
    -moz-appearance: textfield !important;
}

span {
    display: inline-block;
}

body {
    font-family: PingFang SC, Microsoft YaHei, Arial Regular !important;
}
